@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

	--Soft-blue: hsl(215, 51%, 70%);
	--Cyan: hsl(178, 100%, 50%);
	--dark-blue-BG: hsl(217, 54%, 11%);
	--dark-blue-card-BG: hsl(216, 50%, 16%);
	--dark-blue-line: hsl(215, 32%, 27%);
	--White: hsl(0, 0%, 100%);
	--Font-size-paragraph: 1.125rem;

}

* {
	font-family: 'Outfit', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: var(--dark-blue-BG);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 23rem;
	height: auto;
	background-color: var(--dark-blue-card-BG);
	border-radius: 1.25rem;
	box-shadow: .3125rem .9375rem .9375rem .625rem rgba(0, 0, 0, 0.1);
	padding: 1.50rem;

}

.container .imgbx {
	display: block;
	max-width: 100%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;



}



.container .imgbx img {
	width: 100%;
	border-radius: 0.635rem;


}


.imgbx .img-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
	border-radius: 0.635rem;


}

.imgicon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.5625rem 0 0 -1.5625rem;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.content {

	width: 100%;
}

.content h1 {
	color: var(--White);
	margin: .625rem 0;
	cursor: pointer;
	font-weight: 600;

}

.content p {
	align-items: center;
	color: var(--Soft-blue);
	font-weight: 400;
	line-height: 1.375rem;

}

.content .span {
	margin: .625rem 0;
	display: flex;
	justify-content: space-between;
}

.content .span span:nth-child(1) {
	display: flex;
	gap: .3125rem;
	align-items: center;
	font-weight: 600;
	color: var(--Cyan);
}

.content .span span:nth-child(2) {
	display: flex;
	gap: .3125rem;
	align-items: center;
	font-weight: 600;
	color: var(--Soft-blue);
}

.container #p {
	border: 0.05rem solid var(--dark-blue-line);
	height: .125rem;
	width: 100%;
	margin: .625rem 0;


}

.fotter {
	width: 100%;

}

.fotter span {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(0, -1.875rem);
	font-weight: 600;
	letter-spacing: .0625rem;
}

.fotter {
	list-style: none;
	justify-content: center;
}



.fotter img {
	width: 2.5rem;
	height: auto;
	border: .0625rem solid var(--White);
	border-radius: 50%;
	background-size: cover;
}

.fotter span p:nth-child(1) {
	color: var(--Soft-blue);
}

.fotter span p:nth-child(2) {
	color: var(--White);
	margin: 0 .125rem;
	cursor: pointer;


}


/*-----hover effect-----*/

h1:hover {
	color: var(--Cyan);
}

.fotter span p:nth-child(2):hover {
	color: var(--Cyan);
}

.imgbx .img-card:hover {
	background-color: hsla(178, 100%, 50%, 0.4);

}

.img-card .imgicon:hover {
	background-image: url(images/icon-view.svg);

}